.jumbotron {
  text-align: center;
  background-color: #00B3B4;
  color: white;
}
.btn:hover {
  background-color: #9959f9;
  color: white;
}
#intro {
  font-size: 16px;
}
#result {
  display: none;
  padding: 15px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
 #design-result, #java-result, #ruby-result, #php-result {
  display: none;
  text-align: center;
  font-size: 18px;
}
#logo {
  width: 30%;
  text-align: center;
}
select, input {
  max-width: 400px;
}
img {
  padding: 15px;
}
form {
  font-size: 18px;
}
.track-border {
  border-bottom: solid;
  border-width: thin;
  border-color: #7b36db;
}
.row {
  padding: 15px;
}
.col-lg-6 {
  text-align: left;
}
.track-name {
  font-weight: bold;
}
/*.container {
  min-height: 100%;
  position: relative;
}
.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:200px;   /* Height of the footer */
   /*background:#6cf;*/
/*}*/
