.jumbotron {
  text-align: center;
  background-color: #00B3B4;
  color: white;
}
.btn:hover {
  background-color: #9959f9;
  color: white;
}
#result {
  display: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#design-result, #java-result, #ruby-result, #php-result {
  display: none;
  text-align: center;
  font-size: 18px;
}
